---
layout: default
title: Ricardo Sampayo
lang: en
---
<div class="container">

	<div class="col-md-9 info_container">
		<div class="ad-side">
			{% include banner_right/banner_large_horizontal.html %}
			<p>{{ "helper.publicity" | t  }}</p>
		</div>
		<div class = "border_container">

			<section class="content">
				<header>
					<h1>Oops! That page can’t be found.</h1>
					<p>I'm sorry, the given resource could not be found.</p>
				</header>

				<img src="http://i.imgur.com/0NXWcYS.jpg" class="img-responsive" alt="Reponsive image"></section>

			</div>
			<div class="ad-side">
				{% include banner_right/banner_large_horizontal.html %}
				<p>{{ "helper.publicity" | t  }}</p>
			</div>
		</div>

		<!-- Section Area - search-->
		<div class="col-sm-6 col-md-3 banner_right" >
			{% include banner_right/search.html %}
			{% include banner_right/latest_posts.html %}
		</div>
		<!-- rectangulo ancho -->
		<div class="col-md-3 col-sm-6 banner_right">
			{% include banner_right/banner.html %}
			{% include banner_right/donation.html %}        
		</div>
		<!-- End Section Area - search-->
	</div>