---
layout: default
title: Ricardo Sampayo
---
<div class="container">

	<div class="col-md-9 info_container">
		<div class = "border_container">

			<section class="content">
				<header>
					<h1>Oops! That page can’t be found.</h1>
					<p>I'm sorry, the given resource could not be found.</p>
				</header>

				<img src="http://i.imgur.com/0NXWcYS.jpg" class="img-responsive" alt="Reponsive image"></section>

		</div>
	</div>

	<!-- Section Area - search-->
	{% include search.html %}
    {% include latest_posts.html %}
	<!-- End Section Area - search-->
</div>