 <!-- Info Area - about-->
    <section class="info_area"  id="about">
        <div class="container">
            <div class="title_section">
                <h1>{{ "about" | t  }}
                    <span class="arrow_title"></span>
                </h1>
                <small>{{ "about_section.about_me" | t  }}</small>
            </div>

            <div class="container">
                <div class="col-sm-3">
                    <img src="http://graph.facebook.com/ricardosampayos/picture?width=550&type=normal&height=750" class="img-responsive img-thumbnail" alt="Reponsive image">
                </div>

                <div class="col-sm-9">
                    <!-- <h1 class="title_resalt">“Info”</h1> -->
                {% capture about_content %}
                    {% include main_data/biography.markdown %}
                {% endcapture %}
                {{ about_content | unindent | markdownify }}
                    
                </div>
            </div>
 
            <div class="container padding_top">
              
              <div class="col-lg-3 col-sm-6">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>{{ "about_section.name" | t  }}</h4>
                    <p>Ricardo A. Sampayo Sanchez</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-home"></i>
                    <h4>{{ "about_section.address" | t  }}</h4>
                    <p>Caracas, Venezuela</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-flag"></i>
                    <h4>{{ "about_section.nationality" | t  }}</h4>
                    <p>{{ "about_section.my_nationality" | t  }}</p>
                </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-gift"></i>
                    <h4>{{ "about_section.birth" | t  }}</h4>
                    <p>{{ "about_section.my_birth" | t  }}</p>
                </div>
              </div>
            </div>
 
        </div>  
    </section>
    <!-- End Section Area - about-->