 <!-- Info Area - about-->
    <section class="info_area"  id="about">
        <div class="container">
            <div class="title_section">
                <h1>Sobre mi
                    <span class="arrow_title"></span>
                </h1>
                <small>Una pequeño resumen sobre mi.</small>
            </div>

            <div class="container">
                <div class="col-sm-3">
                    <img src="http://graph.facebook.com/ricardosampayos/picture?width=550&type=normal&height=750" class="img-responsive" alt="Reponsive image">
                </div>

                <div class="col-sm-9">
                    <h1 class="title_resalt">“Info”</h1>

                    <p>Info</p>
                    

                  <!--   <div class="row-fluid">
                        <div class="span2 download">
                            <a href="#" class="tooltip_hover" id="button_download" title="Download My Profile">Download</a>
                        </div>
                        <div class="span5">
                            <ul class="social">
                                <li><a href="#" class="tooltip_hover" title="My Facebook"><img src="img/social/facebook.png" alt="Image"></a></li>
                                <li><a href="#" class="tooltip_hover" title="My Twitter"><img src="img/social/twitter.png" alt="Image"></a></li>
                                <li><a href="#" class="tooltip_hover" title="My Linkedin"><img src="img/social/linkedin.png" alt="Image"></a></li>
                            </ul>
                        </div> 
                         </div>                    -->
                    
                </div>
            </div>
 
            <div class="container padding_top">
              
              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>Nombre</h4>
                    <p>Ricardo A. Sampayo Sanchez</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-home"></i>
                    <h4>Dirección</h4>
                    <p>Caracas, Venezuela</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-flag"></i>
                    <h4>Nacionalidad</h4>
                    <p>Venezolano/Español</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="glyphicon glyphicon-gift"></i>
                    <h4>Nacimiento</h4>
                    <p>9 mayo de 1988</p>
                </div>
              </div>
            </div>
 
        </div>  
    </section>
    <!-- End Section Area - about-->