<div class="container">
    <div class="col-md-9 info_container">
        <div class="ad-side">
            {% include banner_right/banner_large_horizontal.html %}
            <p>{{ "helper.publicity" | t  }}</p>
        </div>
        <div class = "border_container">
        {% for post in site.posts %}
        {% if post.categories[0] == page.lang and post.type == "post" %}
         <!-- Info Area - about-->
            <!-- <section class="info_area" > -->
                <div class="row ">
                        <div class="title_section">
                            <h1>{{ post.date | localize: ":long_date" }}
                                <span class="arrow_title"></span>
                            </h1>
                            <!-- <small>Una pequeño resumen sobre mi.</small> -->
                        </div>

                        <div class="container post">
                            <div class="col-sm-3">
                                <img src="{{ post.principal_image }}" class="img-responsive img-rounded" alt="Reponsive image">
                            </div>

                            <div class="col-sm-9">
                                <h1 class="title_resalt"><a href="{{ post.url }}">{{ post.name }}</a></h1>
                                {% for category in post.tags %}

                                        <span class="label label-default">{{ category }}</span>

                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
            <!-- </section> -->
            <!-- End Section Area - about-->
        {% endif %}
         {% endfor %}
         </div>
    </div>

    <!-- Section Area - search-->
    <div class="col-sm-6 col-md-3 banner_right" >
        {% include banner_right/search.html %}
        {% include banner_right/latest_posts.html %}
    </div>
    <!-- rectangulo ancho -->
    <div class="col-md-3 col-sm-6 banner_right">
        {% include banner_right/banner.html %}
        {% include banner_right/donation.html %}
</div>
    <!-- End Section Area - search-->
</div>
