  <!-- Title Area -->
  <section class="title_area">
    <div class="container">
      <h1>{{ "phrases_section.phrase_worth" | t  }}</h1>
    </div>  
  </section>
  <!-- End Title Area-->


  <!-- Info Area - Contact-->
  <section class="info_area" id="contact">
    <div class="container">

      <div class="title_section">
        <h1>{{ "contact" | t  }}
          <span class="arrow_title"></span>
        </h1>
        <small>{{ "contact_section.about_me" | t  }}</small>
      </div>
      
      <!-- Row fuid-->
      <div class="container">

        <div class="col-lg-7 col-sm-6 contact"> 
          <script type="text/javascript" src="http://form.jotform.us/jsform/32295364688164"></script>
        </div>

        <div class="col-lg-5 col-sm-6 hidden-xs">
          <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="364207683701727232" data-tweet-limit="3" data-link-color="#16a085" data-related="twitterapi,twitter" data-aria-polite="assertive" lang="{{page.lang}}">{{ "contact_section.last_tweest" | t  }}</a>
        </div>  

      </div>
      <!-- End Row fuid-->             
    </div>  
  </section>




