  <!-- Title Area -->
    <section class="title_area">
        <div class="row">
            <h1>“Programar es como el sexo, un error y lo vas a tener que mantener por el resto de tu vida” - Michael Sinz</h1>
        </div>  
    </section>
    <!-- End Title Area-->


   <!-- Info Area - Contact-->
    <section class="info_area" id="contact">
        <div class="row">

            <div class="title_section">
                <h1>Contáctame
                    <span class="arrow_title"></span>
                </h1>
                <small>No dudes!</small>
            </div>
            
              <!-- Row fuid-->
              <div class="container">

                  <div class="col-lg-7 col-sm-6 contact"> 
<!--                   <form  class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <input type="text" class="form-control" type="text" placeholder="Nombre" name="Nombre" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control"  placeholder="Email"  name="Email" required>
                      </div>
                      <div class="form-group">
                       <textarea placeholder="Your Message" class="form-control" name="Mensaje" required></textarea>
                      </div>
                      <input type="submit" name="Submit" value="Enviar" class="button alignright">
                    </fieldset>
                  </form>

                      <div id="result"></div>  -->
                      <div id="wufoo-z7x4m1">
Fill out my <a href="http://sampayo.wufoo.com/forms/z7x4m1">online form</a>.
</div>
                  </div>

                  <div class="col-lg-5 col-sm-6 hidden-sm">
                    <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="364207683701727232" data-tweet-limit="3" data-link-color="#16a085" data-related="twitterapi,twitter" data-aria-polite="assertive" lang="EN">Mis últimos tweets</a>
                  </div>  

              </div>
              <!-- End Row fuid-->             
        </div>  
    </section>


<script type="text/javascript">var z7x4m1;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'sampayo', 
'formHash':'z7x4m1', 
'autoResize':true,
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

