 <!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>“Suerte es lo que sucede cuando la preparación se encuentra con la oportunidad” - Lucius Annaeus Séneca</h1>
        </div>  
    </section>
    <!-- End Title Area-->


    <!-- Info Area - Education-->
    <section class="info_area"  id="education">
        <div class="container">

            <div class="title_section">
                <h1>Educación
                    <span class="arrow_title"></span>
                </h1>
                <small>Mis institutos.</small>
            </div>

            <div class="container">

                <div class="col-lg-4">
<!--                     <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor  blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. </p>

                    <p>Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p> -->
                </div>

                <div class="col-lg-8">
                    <div class="border_left">
                        <div class="accordion-trigger">Ingeníeria Informática<span>- </span><span> 2005 - 2013</span></div>     
                        <div class="accordion-container">  
                            <h5>Universidad Católica Andrés Bello</h5>     
                            <p>La enseñanza de esta carrera se orienta a la formación del estudiante en los fundamentos de la informática, la tecnología del software, la tecnología de las computadoras, la ingeniería del software, así como la tecnología de las redes de computadoras. Estos estudios han de cubrir la demanda social de técnicos y científicos en los siguientes campos antes señalados. Además, el egresado deberá estar preparado para gerenciar y dirigir cualquiera de las actividades en las que ha sido adiestrado, así como seguir exitosamente estudios de post-grado.</p>
                        </div>

                        <div class="clearfix"></div>

                            
                    </div>
                </div>

            </div>
        </div>  
    </section>
    <!-- End Section Area - Education-->
