 <!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>{{ "phrases_section.phrase_luck" | t  }}</h1>
        </div>  
    </section>
    <!-- End Title Area-->


    <!-- Info Area - Education-->
    <section class="info_area"  id="education">
        <div class="container">

            <div class="title_section">
                <h1>{{ "education" | t  }}
                    <span class="arrow_title"></span>
                </h1>
                <small>{{ "education_section.about_me" | t  }}</small>
            </div>

            <div class="container">

                <div class="col-lg-4">
<!--                     <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor  blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. </p>

                    <p>Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p> -->
                </div>

                <div class="col-lg-8">
                    <div class="border_left  content-info-detail">
                        <div class="accordion-trigger active">{{ "education_section.education_ucab" | t  }}<span>- </span><span>2005 - 2013</span></div>     
                        <div class="accordion-container:first">  
                            <h5>Universidad Católica Andrés Bello</h5>     
                                {% capture about_content %}
                                    {% include main_data/education_ucab.markdown %}
                                {% endcapture %}
                                {{ about_content | unindent | markdownify }}
                        </div>

                        <div class="clearfix"></div>

                            
                    </div>
                </div>

            </div>
        </div>  
    </section>
    <!-- End Section Area - Education-->
