<footer>
 	<div class="container wrapper-style4 ">
		<div class="col-12 row-special">
			<h3>{{ "footer.find_me" | t  }}</h3>
			<ul class="social" >
				<li class="facebook">
					<a href="http://www.facebook.com/RicardoSampayoS" target="_blank">Facebook</a>
				</li>
				<li class="twitter">
					<a href="http://twitter.com/RicardoSampayo_" target="_blank">Twitter</a>
				</li>
				<li class="linkedin">
					<a href="http://lnkd.in/3SRt-4" target="_blank">LinkedIn</a>
				</li>
				<li class="github">
					<a href="http://github.com/sampayo" target="_blank">Github</a>
				</li>
				<li class="googleplus">
					<a href="http://plus.google.com/u/0/114977158609433108968/" target="_blank">Google+</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">


  		<div class="col-sm-6 col-sm-offset-3"><h6>&copy; 2014 - Ricardo Sampayo</h6></div>
  		
	</div>
</footer>