<!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>“Estoy convencido de que la mitad de lo que separa a los emprendedores exitosos de los que no triunfan es la perseverancia” - Steve Jobs</h1>
        </div>  
    </section>
    <!-- End Title Area-->

     <!-- Info Area - Skills-->
    <section class="info_area"  id="skills">
        <div class="container">

            <div class="title_section">
                <h1>Habilidades
                    <span class="arrow_title"></span>
                </h1>
                <small>Para lo que soy bueno</small>
            </div>

            <div class="container">
                <!-- Our Skills-->            
                <div class="col-lg-3">
                    <h3>Lenguajes</h3>
                    <div class="meter color nostripes">
                        <span style="width: 30%"><span>C</span></span>
                    </div>
                     <div class="meter alternative_color nostripes">
                        <span style="width: 80%"><span>Css</span></span>
                    </div>   
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Java</span></span>
                    </div>     
                      <div class="meter alternative_color nostripes">
                        <span style="width: 40%"><span>JavaScript</span></span>
                    </div>                                                    
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Objective C</span></span>
                    </div>
                    <div class="meter alternative_color nostripes">
                        <span style="width: 70%"><span>Php</span></span>
                    </div>           
                     <div class="meter color nostripes">
                        <span style="width: 70%"><span>PLSQL</span></span>
                    </div>       
                     <div class="meter alternative_color nostripes">
                        <span style="width: 25%"><span>Python</span></span>
                    </div>                                          
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Ruby</span></span>
                    </div>

                </div> 
                <!-- End Our Skills--> 

                <!-- Our Skills-->            
                <div class="col-lg-3">
                    <h3>Framework</h3>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Bootstrap</span></span>
                    </div>    
                      <div class="meter alternative_color nostripes">
                        <span style="width: 80%"><span>Cocoa Frameworks</span></span>
                      </div>                                    
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Codeigniter</span></span>
                    </div>
                    <div class="meter alternative_color nostripes">
                        <span style="width: 40%"><span>JQuery</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Ruby on Rails</span></span>
                    </div>
                </div> 
                  <div class="col-lg-3">
                    <h3>Entornos</h3>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Eclipse</span></span>
                    </div>
                    <div class="meter alternative_color nostripes">
                        <span style="width: 80%"><span>MuleStudio</span></span>
                    </div>
                      <div class="meter color nostripes">
                        <span style="width: 30%"><span>Photoshop</span></span>
                      </div>                  
                    <div class="meter alternative_color nostripes">
                        <span style="width: 40%"><span>Visual Studio</span></span>
                    </div>                        
                    <div class="meter color nostripes">
                        <span style="width: 90%"><span>XCode</span></span>
                    </div>

                </div> 
                  <div class="col-lg-3">
                    <h3>Base de Datos</h3>
                      <div class="meter color nostripes">
                        <span style="width: 20%"><span>Mongo</span></span>
                      </div>                 
                    <div class="meter alternative_color nostripes">
                        <span style="width: 90%"><span>MySQL</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Oracle</span></span>
                    </div>
                    <div class="meter alternative_color nostripes">
                        <span style="width: 60%"><span>Postgred</span></span>
                    </div>                    
                    <div class="meter color nostripes">
                        <span style="width: 90%"><span>SqLite</span></span>
                    </div>                      


                </div> 
            </div>   
        </div>               
    </section>
    <!-- End Section Area - Skills-->