      <!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>{{ "phrases_section.phrase_programer" | t  }}</h1>
        </div>  
    </section>
    <!-- End Title Area-->
  <!-- Info Area - Works-->
    <section class="info_area"  id="works">
        <div class="container">

            <div class="title_section">
                <h1>{{ "works" | t  }}
                    <span class="arrow_title"></span>
                </h1>
                <small>{{ "works_section.about_me" | t  }}</small>
            </div>

            <div class="container">                
                <!-- Item work-->

            {% assign num = 0 %}
            {% for item in site.categories.portfolio %}
                {% if item.categories[0] == page.lang  %}

                    {% assign num=num | plus:1 %} 

                    {% if num > 3 %}
                        <div class="hidden-lg col-sm-6">
                    {% else %}
                        <div class="col-lg-4 col-sm-6">
                    {% endif %}
                    <!-- <div class="col-lg-4 col-sm-6"> -->
                        <div class="item-preview">
                          <img src="{{item.principal_image}}" alt="">
                          <div class="img-preview">
                            <h2>{{item.name}}</h2>
                            <p>{{item.abstract}}</p>
                            <a class="fancybox" title="view" href="{{item.url}}">See more</a>
                          </div>
                        </div> 
                    </div>

                    {% if num > 3 %}
                        {% break %}
                    {% endif %}
                {%  endif %}
            {% endfor %}

            </div>

        </div>  
    </section>
    <!-- End Section Area - Works-->
