---
layout: default_es
title: Ricardo Sampayo
---


  	<!-- Info Area - about-->
		{% include about.html %}
    <!-- End Section Area - about-->

    <!-- Info Area - Skills-->
    	{% include skills.html %}
    <!-- End Section Area - Skills-->

	<!-- Info Area - Education-->
		{% include education.html %}
	<!-- End Section Area - Education-->

		<!-- Info Area - Education-->
		{% include employment.html %}
	<!-- End Section Area - Education-->

			<!-- Info Area - Work-->
		{% include works.html %}
	<!-- End Section Area - Work-->

   <!-- Info Area - Contact-->
  		 {% include contact.html %}
    <!-- End Section Area - Contact-->
