 <div class="right_frame">
 	<div class = "border_container">
 		<h4>{{ "helper.donation" | t  }}</h4>
 		<div id="paypal">
 		<h6>PayPal</h6>
 			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
 				<input type="hidden" name="cmd" value="_s-xclick">
 				<input type="hidden" name="hosted_button_id" value="WHMQW6694V6BA">
 				<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
 				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
 			</form>
 		</div>        

 		<div id="btc">
 		<h6>Bitcoin</h6>
 			<img src="http://blockchain.info/en/qr?data=1MCYaBkdQskbZJXYBmK4QkxUsWxuaXXaDh&size=80">
 			<small>1MCYaBkdQskbZJXYBmK4QkxUsWxuaXXaDh</small>
 		</div>
 	</div>

 </div>