---
layout: default_es
title: Ricardo Sampayo
---

{% for post in site.posts %}
{% if post.categories[0] == "es" %}
 <!-- Info Area - about-->
    <section class="info_area" >
        <div class="container">
            <div class="title_section">
                <h1>{{ post.date | date_to_string }}
                    <span class="arrow_title"></span>
                </h1>
                <!-- <small>Una pequeño resumen sobre mi.</small> -->
            </div>

            <div class="container">
                <div class="col-sm-2">
                    <img src="{{ post.principal_image }}" class="img-responsive" alt="Reponsive image">
                </div>

                <div class="col-sm-10">
                    <h1 class="title_resalt"><a href="{{ post.url }}">{{ post.name }}</a></h1>

                    {% for category in post.tags %}
                    {% if category != "es" %}

                    <span class="label label-default">{{ category }}</span>

                    {% endif %}
                     {% endfor %}
     
<!--                     <p>Info</p> -->
                    
                </div>
            </div>
 
 
        </div>  
    </section>
    <!-- End Section Area - about-->
{% endif %}
 {% endfor %}
