<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    </head>
    <body>

     <!-- Logo -->
    <header class="logo" id="about">
          <div class="container">
                  <div class="title_logo">
                      <h1>Ricardo Sampayo. <small> Ingeniero Informático</small></h1>
                  </div>
          </div>
    </header>
     <!-- End Logo -->

    <!-- Nav-->
    <div class="navbar">
      <div class="container">
          <button type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-toggle collapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-brand collapsed visible-sm" >* * *</a>

        <div style="height: 0px;" class="nav-collapse navbar-responsive-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Sobre mi</a></li>
                    <li><a href="#skills">Habilidades</a></li>
                    <li><a href="#education">Educación</a></li>
                    <li><a href="#employment">Experiencia</a></li>
                    <li><a href="#works">Portafolio</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
              </div>
        </div>
    </div>
    <!-- End Nav-->

  <!-- Info Area - about-->
  <div class="break_info"></div>
    <section class="info_area"  id="about">
        <div class="container">
            <div class="title_section">
                <h1>Sobre mi
                    <span class="arrow_title"></span>
                </h1>
                <small>Una pequeño resumen sobre mi.</small>
            </div>

            <div class="container">
                <div class="col-lg-3">
                    <img src="http://placehold.it/550x750" class="img-responsive" alt="Reponsive image">
                </div>

                <div class="col-lg-9">
                    <h1 class="title_resalt">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor  blandit eros.”</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor  blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor  blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p>

                  <!--   <div class="row-fluid">
                        <div class="span2 download">
                            <a href="#" class="tooltip_hover" id="button_download" title="Download My Profile">Download</a>
                        </div>
                        <div class="span5">
                            <ul class="social">
                                <li><a href="#" class="tooltip_hover" title="My Facebook"><img src="img/social/facebook.png" alt="Image"></a></li>
                                <li><a href="#" class="tooltip_hover" title="My Twitter"><img src="img/social/twitter.png" alt="Image"></a></li>
                                <li><a href="#" class="tooltip_hover" title="My Linkedin"><img src="img/social/linkedin.png" alt="Image"></a></li>
                            </ul>
                        </div> 
                         </div>                    -->
                    
                </div>
            </div>
 
            <div class="container padding_top">
              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="icon-user icon-black"></i>
                    <h4>Nombre</h4>
                    <p>Ricardo A. Sampayo Sanchez</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="icon-home"></i>
                    <h4>Dirección</h4>
                    <p>Caracas, Venezuela</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="icon-headphones"></i>
                    <h4>Nacionalidad</h4>
                    <p>Venezolano/Español</p>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="container item_info">
                    <i class="icon-envelope"></i>
                    <h4>Fecha Nacimiento</h4>
                    <p>9 mayo de 1988</p>
                </div>
              </div>
            </div>
 
        </div>  
    </section>
    <!-- End Section Area - about-->

     <!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>“My skills have enabled me to achieve great results!”</h1>
        </div>  
    </section>
    <!-- End Title Area-->

     <!-- Info Area - Skills-->
    <section class="info_area"  id="skills">
        <div class="container">

            <div class="title_section">
                <h1>MY SKILLS
                    <span class="arrow_title"></span>
                </h1>
                <small>Para lo que soy bueno</small>
            </div>

            <div class="container">
                <!-- Our Skills-->            
                <div class="col-lg-3">
                    <h3>Lenguajes</h3>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Objective C</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Ruby</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Php</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Java</span></span>
                    </div>
                     <div class="meter color nostripes">
                        <span style="width: 30%"><span>C</span></span>
                    </div>
                     <div class="meter color nostripes">
                        <span style="width: 25%"><span>Python</span></span>
                    </div>
                     <div class="meter color nostripes">
                        <span style="width: 70%"><span>PLSQL</span></span>
                    </div>
                      <div class="meter color nostripes">
                        <span style="width: 40%"><span>JavaScript</span></span>
                    </div>
                     <div class="meter color nostripes">
                        <span style="width: 80%"><span>Css</span></span>
                    </div>
                </div> 
                <!-- End Our Skills--> 

                <!-- Our Skills-->            
                <div class="col-lg-3">
                    <h3>Framework</h3>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Codeigniter</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 40%"><span>JQuery</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Ruby on Rails</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Bootstrap</span></span>
                    </div>
                      <div class="meter color nostripes">
                        <span style="width: 80%"><span>Cocoa Frameworks</span></span>
                      </div>
                </div> 
                  <div class="col-lg-3">
                    <h3>Entornos</h3>
                    <div class="meter color nostripes">
                        <span style="width: 70%"><span>Eclipse</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 90%"><span>Xcode</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 40%"><span>Visual Studio</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>MuleStudio</span></span>
                    </div>
                      <div class="meter color nostripes">
                        <span style="width: 30%"><span>Photoshop</span></span>
                      </div>
                </div> 
                  <div class="col-lg-3">
                    <h3>Base de Datos</h3>
                    <div class="meter color nostripes">
                        <span style="width: 80%"><span>Oracle</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 90%"><span>MySQL</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 90%"><span>SqLite</span></span>
                    </div>
                    <div class="meter color nostripes">
                        <span style="width: 60%"><span>Postgred</span></span>
                    </div>
                      <div class="meter color nostripes">
                        <span style="width: 20%"><span>Mongo</span></span>
                      </div>
                </div> 
                                  <div class="col-lg-3">

        </div>  
    </section>
    <!-- End Section Area - Skills-->


     <!-- Title Area -->
    <section class="title_area">
        <div class="container">
            <h1>“Think my experience can help you? Do not hesitate to write!”</h1>
        </div>  
    </section>
    <!-- End Title Area-->


   <!-- Info Area - Contact-->
    <section class="info_area" id="contact">
        <div class="container">

            <div class="title_section">
                <h1>CONTACT ME
                    <span class="arrow_title"></span>
                </h1>
                <small>Do not hesitate!</small>
            </div>
            
              <!-- Row fuid-->
              <div class="container">

                  <div class="col-lg-7 contact"> 
                  <form  class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <input type="text" class="form-control" type="text" placeholder="Name" name="Name" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control"  placeholder="Email"  name="Email" required>
                      </div>
                      <div class="form-group">
                       <textarea placeholder="Your Message" class="form-control" name="message" required></textarea>
                      </div>
                      <input type="submit" name="Submit" value="Send" class="button alignright">
                    </fieldset>
                  </form>
                      <div id="result"></div>
                  </div>

                  <div class="col-lg-5 map">
                    <ul class="social">
                        <li><a href="#" class="tooltip_hover" title="My Facebook"><img src="img/social/facebook.png" alt="Image"></a></li>
                        <li><a href="#" class="tooltip_hover" title="My Twitter"><img src="img/social/twitter.png" alt="Image"></a></li>
                        <li><a href="#" class="tooltip_hover" title="My Linkedin"><img src="img/social/linkedin.png" alt="Image"></a></li>
                    </ul>
                    <div class="clearfix"></div>

                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo nibh, mattis sit amet consequat a, varius vitae metus. Proin pharetra sodales pellentesque."</p>

                  </div>  

              </div>
              <!-- End Row fuid-->             
        </div>  
    </section>
    <!-- End Section Area - Contact-->



        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.comss
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/sampayo/">github.com/sampayo</a><br />
                  <a href="http://twitter.com/ricardosampayio_/">twitter.com/ricardosampayio_</a><br />
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /container --> 

  </body>

    <!--Nav-->        
    <script type="text/javascript" src="js/tinynav.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <!--Scroll-->        
    <script src="js/smooth-scroll.js"></script>
    <!--Theme Options-->        
<!--     // <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
    // <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script> -->
    <!-- Bootstrap.js-->        
    <script src="js/bootstrap.js"></script>
    <!--fUNCTIONS-->        
    <script type="text/javascript" src="js/jquery-func.js"></script>
    </html>
