<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <LINK REL="shortcut icon" HREF="http://www.gravatar.com/avatar/6352c71a03d5b247726deda291af1539?s=30"/>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap-glyphicons.css">

    </head>
    <body>

     <!-- Logo -->
    <header class="logo" id="about">
          <div class="container">
                  <div class="title_logo">
                      <h1>Ricardo Sampayo. <small> Ingeniero Informático</small></h1>
                  </div>
          </div>
    </header>
     <!-- End Logo -->
    <!-- Nav-->
<div class="navbar" id="nav_bar_custom"> <!-- navbar-fixed-top -->
  <div class="container">


    <!-- Place everything within .nav-collapse to hide it until above 768px -->
    <div class="nav-collapse  navbar-responsive-collapse">
        <ul id="menu" class="nav navbar-nav" >
                    <li><a href="/es/#about">Sobre mi</a></li>
                    <li><a href="/es/#skills">Habilidades</a></li>
                    <li><a href="/es/#education">Educación</a></li>
                    <li><a href="/es/#employment">Experiencia</a></li>
                    <li><a href="/es/#works">Portafolio</a></li>
                    <li><a href="/es/#contact">Contacto</a></li>
                    <li><a href="/es/blog">Blog</a></li>
                </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

    {{ content }}
 {% include footer.html %}
     </body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <!--Nav-->        
    <script type="text/javascript" src="/js/tinynav.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <!--Scroll-->        
    <script src="/js/smooth-scroll.js"></script>
    <!--Theme Options-->        
<!--     // <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
    // <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script> -->
    <!-- Bootstrap.js-->        
    <script src="/js/bootstrap.js"></script>
    <!--fUNCTIONS-->        
    <script type="text/javascript" src="/js/jquery-func.js"></script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </html>

