<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

     <!-- Logo -->
    <header class="logo" id="about">
          <div class="container">
                  <div class="title_logo">
                      <h1>Ricardo Sampayo. <small> Ingeniero Informático</small></h1>
                  </div>
          </div>
    </header>
     <!-- End Logo -->

    <!-- Nav-->
    <div class="navbar">
      <div class="container">
          <button type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-toggle collapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-brand collapsed visible-sm" >Menú </a>

        <div style="height: 0px;" class="nav-collapse navbar-responsive-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">ABOUT ME</a></li>
                    <li><a href="#skills">MY SKILLS</a></li>
                    <li><a href="#education">EDUCATION</a></li>
                    <li><a href="#employment">EMPLOYTMENT</a></li>
                    <li><a href="#works">WORKS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
              </div>
        </div>
    </div>
    <!-- End Nav-->



        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.comss
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/sampayo/">github.com/sampayo</a><br />
                  <a href="http://twitter.com/ricardosampayio_/">twitter.com/ricardosampayio_</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
     <script src="http://code.jquery.com/jquery.js"></script>
    <script type="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script src="js/bootstrap.js"></script>
</html>
